header {
  padding: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

nav a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  margin-right: 8px;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

nav a.active {
  color: red;
}